bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
TestResults/
*.ncrunch*
*.localhistory/
*.vscode/
*.DS_Store
.idea/
*.sln.iml
client/node_modules/
client/dist/
client/.env*
*.log
Thumbs.db
.DS_Store
*.swp
*.bak
*.tmp


